@model List<Pizza>;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_PizzeriaLayout";
}


    <div class="wrapper text-center m-5" style="max-width: 1600px; margin: 0 auto;">
            <h1 class="center m-5">La nostra pizzeria!</h1>
        <div class="card-container d-flex align-items-center m-5" style="">
                @foreach (var pizza in Model)
                {
                    <div class="card mx-5" style="width: 300px; height: 350px;">
                        <a href="#">
                            <div class="card-top" style="border-bottom: 1px solid gray;">
                                <img src="@pizza.FotoPath" alt="Foto Pizza" style="max-width: 200px; height: 150px;" />    
                            </div>
                        </a>
                        <div class="card-bot">
                            <h3 class="card-title">@pizza.Nome</h3>
                            <h5 class="d-inline" style="font-weight: 500">Ingredienti: </h5>
                            <p class="card-text" style="font-style:italic;">@pizza.Descrizione</p>
                            <br />
                            <h5 class="d-inline" style="font-weight: 500">Prezzo: </h5>
                            <span class="card-text">@pizza.Prezzo €</span>
                        </div>
                    </div>
                }

        </div>
    </div>
   


